[user]
	name = vdauchy
[push]
	default = current
[core]
	editor = vim
[alias]
    aa = add *
	co = checkout
	cp = "!f() { git commit -m \"$1\" -n && git push; }; f"
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	ri = rebase --interactive
	ra = rebase --abort
	rc = rebase --continue
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	wap = "!f() { git aa && git wip \"${1}\"; }; f"
	wip = "!f() { git commit -m \"${1:-wip}\" -n && git push; }; f"
	trigger = "!f() { git commit --allow-empty -m \"${1:-trigger}\" -n && git push; }; f"
